/= link_to "Home"
%a.brand{:href => "/"}
  Expenses Tracker
%ul.nav
  %li
    = link_to "Timecharts", "/timecharts"
  %li
    = link_to "Employers", "/employers"
%ul.nav.pull-right
  %li
    = link_to "debug logout", "/"
  %li
    = link_to "debug login", "/"
  %li
    = link_to "edit account", "/"
  %li
    = link_to "sign up", "/"
  /= link_to('Sign up', new_user_registration_path)
  /- if user_signed_in?
  /= link_to('Logout', destroy_user_session_path, :method=>'delete')
  /- else
  /= link_to('Login', new_user_session_path)
  /- if user_signed_in?
  /= link_to('Edit account', edit_user_registration_path)
  /- else
